/* Body styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: opacity 0.3s ease; /* Transition for opacity change */
}

/* Background overlay */
.background-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Slightly dark background overlay */
    z-index: 10;
}

/* Dropdown menu styling */
.dropdown {
    position: absolute;
    top: 20px;
    left: 20px;
}

.dropdown-button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #575757;
}

/* Show dropdown content on button hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Logout modal container */
.logout-modal {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: #fff; /* Dark background for modal */
    color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    z-index: 20;
}

/* Button group styling */
.button-group {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

/* Button styling */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
}

button:first-child {
    background-color: #c10f09;
}

button:last-child {
    background-color: #292929;
}
